fastapi
uvicorn[standard]
pydantic
sqlalchemy
alembic
psycopg2-binary
python-multipart
passlib[bcrypt]
python-jose[cryptography]
email-validator
requests==2.31.0
google-generativeai
google-api-core
openai
